.menu-icon {
  border: none;
  margin-right: 15px;
}

.headerTitle {
  text-decoration: none;
  color: #614124;
}

.spacer {
    flex: 1 1 auto;
}
mat-toolbar{
  background-color : #E3F7D3;
}

mat-icon{
  color:#614124;
}
