.inputs-shop{
  justify-content: space-around;
  display: flex;
  margin-top: 40px;
}

.addShopBtn{
  display: flex;
  justify-content: center;
  margin: 30px;
}

.title-shop{
  margin-top: 40px;
  margin-left: 40px;
}
