<div class="header">
  <div class="title">
    <h4>ID: {{ data.id }}</h4>
  </div>
  <div class="close">
    <button
      mat-raised-button
      class="buttonClose"
      color="primary"
      (click)="close()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<form novalidate id="modifyUser" [formGroup]="modifyUserForm" class="form">
  <div class="container">
    <mat-form-field class="formContainer">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" id="nameModifyUser">
      <mat-error *ngIf="modifyUserForm.get('name')?.errors && modifyUserForm.get('name')?.hasError('required')">
        {{ USER_ERRORS.name.notProvided }}
      </mat-error>
      <mat-error *ngIf="modifyUserForm.get('name')?.errors && modifyUserForm.get('name')?.hasError('minLength')">
        {{ USER_ERRORS.name.minLength }}
      </mat-error>
      <mat-error *ngIf="modifyUserForm.get('name')?.errors && modifyUserForm.get('name')?.hasError('maxLength')">
        {{ USER_ERRORS.name.maxLength }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="surname" class="formContainer">
      <mat-label>Surname</mat-label>
      <input matInput formControlName="surname" type="text" id="surnameModifyUser">
      <mat-error *ngIf="modifyUserForm.get('surname')?.errors && modifyUserForm.get('surname')?.hasError('required')">
        {{ USER_ERRORS.surname.notProvided }}
      </mat-error>
      <mat-error *ngIf="modifyUserForm.get('surname')?.errors && modifyUserForm.get('surname')?.hasError('minLength')">
        {{ USER_ERRORS.surname.minLength }}
      </mat-error>
      <mat-error *ngIf="modifyUserForm.get('surname')?.errors && modifyUserForm.get('surname')?.hasError('maxLength')">
        {{ USER_ERRORS.surname.maxLength }}
      </mat-error>
    </mat-form-field>
    <!--<mat-form-field class="formContainer">
      <mat-label>Email</mat-label>
      <input matInput id="email" formControlName="email" type="email">
      <mat-error *ngIf="modifyUserForm.get('email')?.errors && modifyUserForm.get('email')?.hasError('required')">
        {{ USER_ERRORS.email.notProvided }}
      </mat-error>
      <mat-error *ngIf="modifyUserForm.get('email')?.errors && modifyUserForm.get('email')?.hasError('email')">
        {{ USER_ERRORS.email.invalid }}
      </mat-error>
    </mat-form-field>-->
    <div *ngIf="modifyUserForm.invalid">
      <button mat-raised-button class="buttonAdd" id="modifyDisabled" color="primary" disabled="true">Modify</button>
    </div>
    <div *ngIf="modifyUserForm.valid">
      <button mat-raised-button class="buttonAdd" id="modifyEnabled" color="primary" (click)="modifyUser(data.id)">Modify</button>
    </div>
  </div>
</form>
