<!-- Main content -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 dashboardContainer">
  <div class="inner-adjust">
    <div class="pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">User Profile</h1>
    </div>
    <!-- Show user data when logged in -->
    <div class="row" *ngIf="authService.userData as user">
      <h1>
        Hola:
        <strong>{{ user.displayName ? user.displayName : "User" }}</strong>
      </h1>
      <p>
        User ID: <strong>{{ user.uid }}</strong>
      </p>
      <p>
        Email: <strong>{{ user.email }}</strong>
      </p>
    </div>
  </div>
</main>
