.nameShop{
  font-weight: bold;
  font-size: 20px;
}

.divShop{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.divImage{
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100px;
  height: auto;
}

.divStock{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.stockButton{
  margin: 10px;
  height: auto;
  width: 200px;
}

.stockInput{
  min-width: 20px;
}

.closeButton{
  background-color: #E8C07D;
}

mat-icon{
  color: #614124;
}
