<div class="formContainer">
<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add category
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >category</mat-icon
        >
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="categoryForm">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          type="text"
          matInput
          formControlName="name"
          placeholder="Lácteos"
        />
        <mat-error>{{ errorMessageName }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <input
          type="text"
          matInput
          formControlName="description"
          placeholder="Productos lácteos"
        />
        <mat-error>{{ errorMessageDescription }}</mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="this.categoryForm.invalid"
        (click)="$event.stopPropagation(); addCategory()"
      >
        +
      </button>
    </form>
  </mat-expansion-panel>
</mat-accordion>
</div>

<mat-list role="list" class="listCategory" id = "listCategory">
  <h1>Active categories</h1>

  <table mat-table [dataSource] = "dataSourceActiveCategories" multiTemplateDataRows class = "data-column">
    <ng-container matColumnDef = "edit">
      <td mat-header-cell *matHeaderCellDef></td>
      <td mat-cell *matCellDef = "let category" class = "modify-table-column">
        <button mat-raised-button class="prodButton" [attr.data-category-name] = "'modifyCategory'+category.name" (click) = "$event.stopPropagation(); modifyCategory(category.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef = "active">
      <td mat-header-cell *matHeaderCellDef></td>
      <td mat-cell *matCellDef = "let category" class = "active-table-column">
        <button mat-raised-button class="prodButton" [attr.data-category-name] = "'editActiveCategory'+category.name" (click) = "$event.stopPropagation(); deleteCategory(category)">
          <mat-icon> delete_forever </mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef = "category-name">
      <td mat-header-cell *matHeaderCellDef class = "title-name">
        <span> Category name </span>
      </td>
      <td mat-cell *matCellDef = "let category" class = "name-table-column">
        <span> {{ category.name }} </span>
      </td>
    </ng-container>
    <ng-container matColumnDef = "expand">
      <td mat-header-cell *matHeaderCellDef></td>
      <td mat-cell *matCellDef = "let category"></td>
    </ng-container>

    <!-- Expandable -->
    <ng-container matColumnDef = "expand-content">
      <td mat-cell *matCellDef = "let category" [attr.colspan] = "columnsToDisplay.length">
        <div class = "category-detail" [@detailExpand] = "category === categoryExpanded ? 'expanded' : 'collapsed'">
          <div class = "expansionContent">
            <div>
              <span class = "title-name"> Name: </span>
              <span> {{ category.name }} </span>
            </div>
            <div>
              <span class = "title-name"> Description: </span>
              <span> {{ category.description }} </span>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef = "columnsToDisplay"></tr>
    <tr mat-row *matRowDef = "let row; columns: columnsToDisplay;"
    [class.expanded-row] = "categoryExpanded === row"
    (click) = "toggleCollapse(row)"></tr>
    <tr mat-row *matRowDef = "let row; columns: ['expand-content'];" class = "expanded-row-detail"></tr>
  </table>
  <mat-paginator #matPaginatorActiveCategories [showFirstLastButtons] = true [pageSize] = "pageSize" [pageSizeOptions] = "pageSizeOptionsActiveCategories" (page) = "pageEventActiveCategories = $event" aria-label = "Select page"></mat-paginator>

  <br>
  <h1>Inactive categories</h1>

  <table mat-table [dataSource] = "dataSourceDeActiveCategories" multiTemplateDataRows class = "data-column">
    <ng-container matColumnDef = "edit">
      <td mat-header-cell *matHeaderCellDef></td>
      <td mat-cell *matCellDef = "let category" class = "modify-table-column">
        <button mat-raised-button class="prodButton" [attr.data-category-name] = "'modifyCategory'+category.name" (click)="$event.stopPropagation(); modifyCategory(category.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef = "active">
      <td mat-header-cell *matHeaderCellDef></td>
      <td mat-cell *matCellDef = "let category" class = "active-table-column">
        <button mat-raised-button class="prodButton" [attr.data-category-name] = "'editActiveCategory'+category.name"  (click)="$event.stopPropagation(); activeCategory(category)">
          <mat-icon> autorenew </mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef = "category-name">
      <td mat-header-cell *matHeaderCellDef class = "title-name">
        <span> Category name </span>
      </td>
      <td mat-cell *matCellDef = "let category" class = "name-table-column">
        <span> {{ category.name }} </span>
      </td>
    </ng-container>
    <ng-container matColumnDef = "expand">
      <td mat-header-cell *matHeaderCellDef></td>
      <td mat-cell *matCellDef = "let category"></td>
    </ng-container>

    <ng-container matColumnDef = "expand-content">
      <td mat-cell *matCellDef = "let category" [attr.colspan] = "columnsToDisplay.length">
        <div class = "category-detail" [@detailExpand] = "category === categoryExpanded ? 'expanded' : 'collapsed'">
          <div class = "expansionContent">
            <div>
              <span class = "title-name"> Name: </span>
              <span> {{ category.name }} </span>
            </div>
            <div>
              <span class = "title-name"> Description: </span>
              <span> {{ category.description }} </span>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef = "columnsToDisplay"></tr>
    <tr mat-row *matRowDef = "let row; columns: columnsToDisplay;"
    [class.expanded-row] = "categoryExpanded === row"
    (click) = "toggleCollapse(row)"></tr>
    <tr mat-row *matRowDef = "let row; columns: ['expand-content'];" class = "expanded-row-detail"></tr>
  </table>
  <mat-paginator #matPaginatorDeactiveCategories [showFirstLastButtons] = true [pageSize] = "pageSize" [pageSizeOptions] = "pageSizeOptionsDeActiveCategories" (page) = "pageEventDeActiveCategories = $event" aria-label = "Select page"></mat-paginator>
</mat-list>
