.cateogoryItem {
  display: flex;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
  margin-left: auto;
  border: 0.5px solid gray;
  justify-content: space-around;
}

.flexElement {
  width: 20%;
}
.descripcion {
  max-width: 400px;
  word-wrap: break-word;
}


.formContainer {
  width: 100%;
  padding: 5px;
}

.category {
  font-weight: bold;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.prodButton {
  margin: 1em;
  margin-left: 0 auto;
  flex: 1 1 auto;
  background-color: #E8C07D;
  color: white;
}

.expansionContent{
  display: flex;
  flex-direction: column;
  align-items: left;
  span{
    margin: 4em;
  }
  button{
    height: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 3em;
  }
}

.listCategory{
  margin: 2em;
}

.data-column{
  width: 100%;
  padding: 0px;
}

.category-detail{
  overflow: hidden;
  display: flex;
}

.expanded-row-detail {
  height: 0;
}

.title-name{
  font-weight: bolder;
}

.modify-table-column{
  width: 10px;
}

.active-table-column{
  width: 10px;
}

mat-icon{
  color: #614124;
}

span{
  color: #614124;

}

.containerProd{
  margin-bottom: 10px;
}

h1{

  color: #614124;

}
