<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Añadir categoría
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >category</mat-icon
        >
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="categoryForm">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input
          type="text"
          matInput
          formControlName="name"
          placeholder="Lácteos"
        />
        <mat-error>{{ errorMessageName }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <input
          type="text"
          matInput
          formControlName="description"
          placeholder="Productos lácteos"
        /> 
        <mat-error>{{ errorMessageDescription }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Estado</mat-label>
        <mat-select matNativeControl formControlName="active">
          <mat-option value="Activo">Activo</mat-option>
          <mat-option value="Inactivo">Inactivo</mat-option>
        </mat-select>
        <mat-error>{{ errorMessageActive }}</mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="this.categoryForm.invalid"
        (click)="addCategory()"
      >
        +
      </button>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<mat-list role="list" class="listCategory">
  <mat-divider></mat-divider>
  <ng-container
    *ngFor="let category of categories"
  >
    <div class="containerProd">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"

        >
          <mat-expansion-panel-header *ngIf="category.active===true" class="category">
            <div class="info">
              <button mat-raised-button class="botonProd" (click)="deleteCategory(category)">
                <mat-icon> delete_forever </mat-icon>
              </button>
              <mat-panel-title>
                <mat-list-item role="listitem">{{
                  category.name
                }}</mat-list-item>
              </mat-panel-title>
            </div>
          </mat-expansion-panel-header>
          <div class="hiddenIfo">
            <div class="firstColumnHidden">
              <mat-list role="list">
                <mat-list-item role="listitem">
                  <div class="expansionContent">
                    <span> Nombre: {{ category.name }} </span>
                    <span> Descripcion: {{ category.description }} </span>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>
