.form {
  min-width: 150px;
  width: 90%;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: row;
}
mat-icon{
  color: #614124;
}

.primeraCol,
.segundaCol {
  width: 45%;
  margin-right: 5%;
}

.titulo {
  margin-top: 1em;
}

.product {
  font-weight: bold;
}

.formContainer {
  width: 100%;
  padding: 5px;
}

.formBtn {
  padding: 10px;
  margin-left: 2em;
}

.input {
  margin: 0.7em;
}

mat-form-field {
  margin-right: 2em;
  margin-left: 2em;
}

.addButton {
  width: 30%;
  padding: 0.7em;
  background-color: #E8C07D;
  color: white;
}

.segundaCol {
  text-align: center;
}

.containerProd {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.deleteButton {
  margin: 1em;
  margin-left: 0 auto;
  flex: 1 1 auto;
  background-color: #E8C07D;
  color: white;
}

.infoOculta {
  display: flex;
  margin-left: 3em;
  flex-direction: row;
}

.primeraColOculta,
.segundaColOculta {
  margin-left: 5%;
  width: 50%;
}

.listaProductos {
  margin: 2em;
}

span {
  margin-left: 0.2cm;
  color : #614124;
}

img {
  height: 3cm;
  width: 3cm;
}

.category-list {
  width: 100%;
}

.prodButton{
  margin: 1em;
  margin-left: 0 auto;
  flex: 1 1 auto;
  background-color: #E8C07D;
  color: #614124;
}

h1{

  color: #614124;

}
