<mat-expansion-panel (opened)="true" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Lista de usuarios
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list role="list" *ngFor="let user of users; let i = index">
    <mat-divider></mat-divider>
    <div mat-line class="list-item">
      <div>
        <mat-icon mat-list-icon>people</mat-icon>
        <span>{{ user.name + " " + user.surname + "    |    " + user.email}}</span>
      </div>
      <button value="i" mat-mini-fab color="primary" (click)="deleteUser(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-list>
</mat-expansion-panel>
