.inputs-shop{
  justify-content: space-around;
  display: flex;
  margin-top: 40px;
}

.addShopBtn{
  display: flex;
  justify-content: center;
  margin: 30px;
}

.title-shop{
  margin-top: 40px;
  margin-left: 40px;
}

.shop-form{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 100%;
}

.shop-form mat-form-field{
  margin: 1em;
  margin-right: 3em;
  margin-left: 2em;
}

.buttonAdd{
  margin-top: 5px;
  background-color: #3F51B5;
  color: white;
}
