<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add shop
        <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_basket</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="formGroupShop" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Nombre" formControlName="name" required>
        <mat-error *ngIf="formGroupShop.get('name')?.errors && formGroupShop.get('name')?.hasError('required')">
          {{ SHOP_ERRORS.name.notProvided }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Country</mat-label>
        <mat-select formControlName="country" required>
          <mat-option *ngFor="let country of COUNTRIES" [value]="country.name">
            {{ country.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroupShop.get('country')?.errors && formGroupShop.get('country')?.hasError('required')">
          {{ SHOP_ERRORS.name.notProvided }}
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Province</mat-label>
        <div *ngIf="formGroupShop.get('country')?.value === 'España'; then spanishProv else otherProv"></div>
        <ng-template #spanishProv>
          <mat-select #spanish formControlName="province" required>
            <mat-option *ngFor="let prov of PROVINCES" [value]="prov.name">
              {{ prov.name }}
            </mat-option>
          </mat-select>
        </ng-template>
        <ng-template #otherProv>
          <input matInput placeholder="Provincia" formControlName="province" required>
        </ng-template>
        <mat-error *ngIf="formGroupShop.get('province')?.errors && formGroupShop.get('province')?.hasError('required')">
          {{ SHOP_ERRORS.province.notProvided }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Adress</mat-label>
        <input matInput placeholder="Localidad" formControlName="street" required>
        <mat-error *ngIf="formGroupShop.get('location')?.errors && formGroupShop.get('location')?.hasError('required')">
          {{ SHOP_ERRORS.location.notProvided }}
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Street</mat-label>
        <input matInput placeholder="Dirección" formControlName="location" required>
        <mat-error *ngIf="formGroupShop.get('street')?.errors && formGroupShop.get('street')?.hasError('required')">
          {{ SHOP_ERRORS.street.notProvided }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Postal code</mat-label>
        <input matInput placeholder="CP" type="number" formControlName="cp"
          (ngModelChange)="resetValidatorsByProvinceSelected(formGroupShop.get('province')?.value, formGroupShop.get('country')?.value)">
        <mat-error *ngIf="formGroupShop.get('cp')?.errors && formGroupShop.get('cp')?.hasError('required')">
          {{ SHOP_ERRORS.cp.notProvided }}
        </mat-error>
        <mat-error *ngIf="formGroupShop.get('cp')?.errors && formGroupShop.get('cp')?.hasError('pattern')">
          {{ SHOP_ERRORS.cp.invalid }}
        </mat-error>
        <mat-error *ngIf="!formGroupShop.get('cp')?.valid">
          {{ SHOP_ERRORS.cp.spanishInvalid }}
        </mat-error>
      </mat-form-field>
      <br>
      <button mat-raised-button class="buttonAdd" color="primary" (click)="addShop()">Añadir</button>
    </form>
  </mat-expansion-panel>
</mat-accordion>
