.form{
  min-width: 150px;
  width: 90%;
  padding: 20px;
}

.container{
  display: flex;
  flex-direction: row;
}

.primeraCol, .segundaCol{
  width: 45%;
  margin-right: 5%
}

.titulo{
  margin-left: 1em;
  margin-top: 1em;
}

.product{
  margin-left: 2em;
}

.formContainer {
  width: 100%;
  padding: 5px;
}

.formBtn{
  padding: 10px;
  margin-left: 2em;
}

.input{
  margin: 0.7em;
}

mat-form-field{
  margin-right: 2em;
  margin-left: 2em;
}

.botonAnadir{
  width: 30%;
  padding: 0.7em;
}

.segundaCol{
  text-align: center;
}

.containerProd{
  display: flex;
  flex-direction: column;
}

.info{
  display: flex;
  flex-direction: row;
}

.botonProd{
  margin: 1em;
}

.infoOculta{
  display: flex;
  margin-left: 3em;
  flex-direction: row;
}

.primeraColOculta, .segundaColOculta{
  margin-left: 5%;
  width: 25%;
}
