<h1>ADD PRODUCT</h1>
<mat-icon> keyboard_arrow_down </mat-icon>

<form novalidate [formGroup]="productForm" class="form">
  <table class="formContainer" cellspacing="0"><tr>
  <td><mat-form-field class="formContainer" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field></td>
  <td><mat-form-field class="formContainer" appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
  </mat-form-field></td>
  </tr></table>

  <table class="formContainer" cellspacing="0"><tr>
  <td><mat-form-field class="formContainer" appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price">
  </mat-form-field></td>
  <td><mat-form-field class="formContainer" appearance="fill">
    <mat-label>Categories</mat-label>
    <input matInput formControlName="categories">
  </mat-form-field></td>
  </tr></table>

  <p>
    <mat-form-field class="formContainer" appearance="fill">
      <mat-label>Characteristics</mat-label>
      <input matInput formControlName="characteristics">
    </mat-form-field>
  </p>

  <div class="FormBtn">
    <button mat-raised-button type="submit"><b>+</b></button>
  </div>

  <p>
  Form value: {{productForm.value | json}}
  <br>
  Form value: {{productForm.status | json}}
  </p>
</form>

<h1>LIST OF PRODUCTS</h1>
<mat-list role="list">
  <mat-divider></mat-divider>
  <mat-list-item role="listitem">productForm.name</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item role="listitem">productForm.name</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item role="listitem">productForm.name</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
