form{
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 25px;
  width: 250px;
  height: fit-content;
}
.titulo{
  font-size: x-large;
  margin-bottom: 10px;
}
.contenedorForm{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
