<div class="contenedorForm">
  <form [formGroup]="signInForm">
    <span class="titulo">Log In</span>
    <mat-form-field>
      <mat-label>User</mat-label>
      <input type="text" matInput formControlName="userName" id="emailInput"/>
      <mat-error>Invalid field</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="userPassword" id="passwordInput" />
      <mat-error>Invalid field</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="logIn()" id="loginButton">Log in</button>
  </form>
</div>
