.user-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.surname,
.password {
  margin-left: 10px;
}

.formUser {
  width: 100%;
  padding: 5px;
}

.addAdminBtn{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #42ce17;
}

.container{
  display: flex;
  flex-direction: row;
  mat-form-field, button {
    margin: 0 2em 0 2em;
  }
  button{
    height: 3em;
    background-color: #3f51b5;
    color: white;
  }
}
