<div class="formUser">
  <button [routerLink]="['/sign-up']" class="addAdminBtn" mat-raised-button color="primary">new Admin</button>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add user
        <mat-icon aria-hidden="false">people</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="formCrear">

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input class= "name" type="text" matInput formControlName="nameFormControl" placeholder="Name">
        <mat-error>{{errorMessageName}}</mat-error>
      </mat-form-field>

      <mat-form-field class= "surname">
        <mat-label>Surnames</mat-label>
        <input type="text" matInput formControlName="surnameFormControl" placeholder="Surname">
        <mat-error>{{errorMessageSurname}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="emailFormControl" placeholder="Ex. name@gmail.com">
        <mat-error>{{errorMessageEmail}}</mat-error>
      </mat-form-field>

      <mat-form-field class= "password">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="passFormControl" placeholder="********">
        <mat-error>{{errorMessagePass}}</mat-error>
      </mat-form-field>
      <br>
      <button class="margin" mat-raised-button color="primary" (click)="addUser()">+</button>
    </form>
  </mat-expansion-panel>
</mat-accordion>
</div>
<app-list-user></app-list-user>
