<mat-accordion>
  <mat-expansion-panel (opened) = "panelOpenState = true" (closed) = "panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Añadir producto
        <mat-icon aria-hidden="false">people</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <form [formGroup]="formCrear">

        <mat-form-field >
          <mat-label>Nombre</mat-label>
          <input type="text" matInput formControlName="nameFormControl" placeholder="Raúl">
          <mat-error>{{errorMessageName}}</mat-error>
        </mat-form-field>

        <mat-form-field >
          <mat-label>Apellidos</mat-label>
          <input type="text" matInput formControlName="surnameFormControl" placeholder="Bravo Pradanas">
          <mat-error>{{errorMessageSurname}}</mat-error>
        </mat-form-field>

        <mat-form-field >
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="emailFormControl" placeholder="Ex. raul@gmail.com">
          <mat-error>{{errorMessageEmail}}</mat-error>
        </mat-form-field>

        <mat-form-field >
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput formControlName="passFormControl" placeholder="********">
          <mat-error>{{errorMessagePass}}</mat-error>
        </mat-form-field>

        <button class="margin" mat-raised-button color="primary" (click)="addUser()">+</button>
      </form>
  </mat-expansion-panel>
</mat-accordion>
  <app-list-user></app-list-user>
