table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.divButton{
    display: flex;
    justify-content: center;
    margin: auto;
    .acceptButton{
        background-color:  #E8C07D;
        color: #614124;
    }
    button{
        margin: 5px;
    }
}

.mat-elevation-z8{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
mat-button{
  background-color: #E8C07D;
  color : #614124;
}
#closeDialog{
  background-color: #E8C07D;
  color : #614124;
}
#cancelButton{
  background-color: #CC704B;
}

#cancelButton:hover{
  background-color: #b85f3b;
}
