table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.divButton{
    display: flex;
    justify-content: center;
    margin: auto;
    .acceptButton{
        background-color:  #3F51B5;
        color: white;
    }
    button{
        margin: 5px;
    }
}

.mat-elevation-z8{
    display: flex;
    justify-content: center;
    flex-direction: column;
}