<ng-container class="añadirCategoria">
  <form [formGroup] = "categoryForm" class = "form-category">

    <div class = "titule">
      <span> Añadir nueva: Categoria</span>
    </div>

    <mat-divider></mat-divider>

    <div class = "form">

      <span> Nombre:</span>
      <input mat-input  formControlName = "nombre">
      <br>
      <span> Categoria: </span>
      <input mat-input  formControlName = "descripcion">
      <br>
      <button mat-raised-button (click) = "addLista()"> Enviar </button>

    </div>

  </form>
</ng-container>
<ng-container class="listaCategoria" *ngFor="let categorie of categories">
  <div class="categoriaItem" *ngIf="categorie.getEstado()">
    <span>{{ categorie.getNombre() }}</span>
    <button (click)="this.remove(categorie)"><mat-icon>remove</mat-icon></button>
  </div>
</ng-container>
