.categoriaItem{
  display: flex;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
  margin-left: auto;
  border: 0.5px solid gray;
  justify-content: space-around;
}
.flexElement{
  width: 20%;
}
.descripcion{
  max-width: 400px;
  word-wrap: break-word;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
